<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=0.7, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>visualGraph</title>




  <style>
    .formatoForm {
      color: aliceblue;
    }

    .etiquetaF {
      font-size: 15px;

      text-decoration: underline;
    }


    .sinpadding {
      font-family: 'Droid Serif';
      font-size: 14px;
      font-style: italic;
    }
  </style>

  <!-- Bootstrap core CSS -->
  {% load static %}
  <link href="{% static 'tesisForm/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom fonts for this template -->

  <link href="{% static 'tesisForm/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
    type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  {% load static %}
  <link href="{% static 'tesisForm/css/agency.min.css' %}" rel="stylesheet">


  {% load static %}
  <link href="{% static 'tesisForm/css/agency.min.css' %}" rel="stylesheet">
</head>

<body id="page-top">
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="{% url 'tesisForm:presentacion' %}">visualGraph</a>


      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
        aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>

    </div>
  </nav>




  <!-- Log In -->
  <section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Inicia sesión en VisualGraph</h2>
          <h3 class="section-subheading text-muted">Introduce tu usuario y contraseña
          </h3>
        </div>
      </div>
      <div class="row formatoForm text-center">
        <div class="container">

          <form method="post">

            <div class="col-lg-12 text-center">
              {% csrf_token %}
              {% for field in form %}
              <p class="text-center">{{ field.label }} </br>{{ field}}</p>
              {% endfor %}
              <div class="col-lg-12 text-center"></br>
                <input type="submit" value="Iniciar sesión" class="btn btn-danger btn-l text-uppercase">
     

                </br> </br> </br>
                <h3 class="sinpadding text-muted">Aún no estás registrado?</h3>
                <a href="{% url 'tesisForm:signUp' %}" class="etiquetaF">registrarse</a>
              </div>
            </div>
          </form>
        </div>
      </div>

      <br><br><br>




    </div>


    <div id="mimodal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <span class="glyphicon glyphicon-ban-circle cerrar" data-dismiss="modal"></span>

        <img src="" class="modal-content recibir-imagen" width="80%" height="80%">

        <div class="modal-footer">
          <div class="col-lg-12 text-center">


          </div>
        </div>

      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <span class="copyright">UCE &copy; Gmsc 2018</span>
        </div>
        <div class="col-md-4">
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>


        <div class="col-md-4">
          <ul class="list-inline quicklinks">
            <li class="list-inline-item">
              <a href="#terminos_up" id="botonTer">Términos y condiciones
              </a>
            </li>

          </ul>
        </div>


      </div>
    </div>
  </footer>




  <!-- Bootstrap core JavaScript -->
  {% load static %}
  <script src="{% static 'tesisForm/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'tesisForm/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'tesisForm/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Contact form JavaScript -->
  <script src="{% static 'tesisForm/js/jqBootstrapValidation.js' %}"></script>
  <script src="{% static 'tesisForm/js/contact_me.js' %}"></script>

  <!-- Custom scripts for this template -->
  <script src="{% static 'tesisForm/js/agency.min.js' %}"></script>
  <script>
    $('a[href="#terminos_up"]').click(function () {

      $('.recibir-imagen').attr('src', 'http://canastahotel.com/wp-content/uploads/tc-icon.png');
      $('#mimodal').modal();
    }); 
  </script>
</body>

</html>