<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=0.7, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>visualGraph</title>

  <!-- Bootstrap core CSS -->
  {% load static %}
  <link href="{% static 'tesisForm/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom fonts for this template -->

  <link href="{% static 'tesisForm/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
    type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  {% load static %}
  <link href="{% static 'tesisForm/css/agency.min.css' %}" rel="stylesheet">


  {% load static %}
  <link href="{% static 'tesisForm/css/agency.min.css' %}" rel="stylesheet">

  <style>
    .sesionColor {
      color: darkgoldenrod;
    }
  </style>
</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">visualGraph</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
        aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>


      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav  ml-auto">


          <li class="nav-item text-uppercase">
            <a class="nav-link js-scroll-trigger" href="#about">Bases Almacenadas</a>
          </li>

          <li class="nav-item text-uppercase">
            <a class="nav-link js-scroll-trigger" href="#contact">Conectarse! </a>
          </li>
          <li class="nav-item text-uppercase">
            <a class="nav-link js-scroll-trigger"></a>
          </li>



          <li class="nav-item">
            <div class="row">
              <p class="sesionColor ">Hola, {{request.user.username}} </p>
            </div>

          </li>

          <li class="nav-item">
            <div class="row">
              <p></p>
              <br>
            </div>
            <div class="row text-uppercase">
              <a href="{% url 'logout' %}" id="botonTer">cerrar sesión</a>


            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header class="masthead">
    <lldiv class="container">
      <div class="intro-text">
        <div class="intro-lead-in">Bienvenido a visualGraph!</div>
        <div class="intro-heading text-uppercase">herramienta para análisis y visualización de datos basados en grafo

        </div>
  </header>





  <!-- About -->
  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Registros de bases de datos almacenadas:</h2>
          <h3 class="section-subheading text-muted">Selecciona una base a la que hayas accedido o ingresa las credenciales solicitadas.</h3>
        </div>
      </div>
      <div class="row col-lg-10 offset-lg-2">
        {%for artic in datosUser%}
     
          <div class="UserDB{{ forloop.counter }} col-lg-5">
            <ul >

              <b><p id="hostAux{{ forloop.counter }}" class="listaDB{{ forloop.counter }}">{{artic.nombreDB}}</p></b>
              <li id="hostAux{{ forloop.counter }}" class="listaDB{{ forloop.counter }}">{{artic.host}}</li>
              <li id="userAux{{ forloop.counter }}" class="listaDB{{ forloop.counter }}">{{artic.user}}</li>
              <li id="passwordAux{{ forloop.counter }}" class="listaDB{{ forloop.counter }}" style="display: none">{{artic.password|safe}}</li>
              <li>*********</li>

            </ul>
            <button type="button" href="#contact" id='baseSave{{ forloop.counter }}'
              class='btnDB btn btn-dark btn-l text-uppercase'
              onclick="document.getElementById('contact').scrollIntoView();">seleccionar</button>


            <button type="button" href="#contact" id='baseDelete{{ forloop.counter }}'
              class='btnDB2 btn btn-dark btn-l text-uppercase' onclick="">eliminar</button><br><br><br>


        </div>
     
      <br><br>
      {%endfor%}
    </div>
    </div>
  </section>


  <section id="contact">







    <div class="container">



      <div class="row">




        <div class="col-lg-12 text-center">



          <h2 class="section-heading text-uppercase">Ingresa</h2>
          <h3 class="section-subheading text-muted">Introduce las credenciales de tu base de datos almacenada en neo4j.
          </h3>
        </div>
      </div>


      <div class="row">
        <div class="col-lg-12">

          <form action="{% url 'tesisForm:desarrollo' %}" method="post" id="formDB">
            {% csrf_token %}
            <div class="col-md-6 offset-md-3">
              {%for field in form2 %}

              <div class="form-group">
                {{field}}

              </div>


              {%endfor%}




              <div class="alert alert-danger alert-dismissible fade show" id="alertaTerminos" role="alert">
                <strong>IMPORTANTE!</strong> Para ingresar debes autorizar el acceso a tu base de datos.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>





              <div class="checkbox">
                <input type="checkbox" value="Check Value" id="aceptoCT" readonly="readonly"
                  onclick="javascript: return false;" />
                <a href=# class="terms" data-toggle="modal" data-target="#myModal">Autorizar el acceso a la base de
                  datos</a>
              </div><br>
            </div>
            <div class="col-lg-12 text-center">
              <input type="submit" value="Validar" class="btn btn-primary btn-xl text-uppercase"
                onclick="validarAutenticacion();">
            </div>
          </form>
        </div>

      </div>






    </div>





    <!--  -->
    <div class="container">


      <!-- Modal Condiciones 2 -->
      <div class="modal fade" id="myModal" role="dialog" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-ma">
          <div class="modal-content">
            <div class="modal-header">

              <h4 class="modal-title text-center">Condiciones de uso</h4>
            </div>
            <div class="modal-body text-justify">

              <p>Al ingresar tus bases de datos visualGraph analizará la información de ésta para extraer tipos de nodos
                y tipos de relaciones contenidas en la misma para casos de esquema gráfico y creación de interfaz
                interactiva. Además visualGraph
                almacena las credenciales de acceso con el fin de brindar una mejor experiencia al usuario con el
                compromiso de no hacer uso de los mismos.
              </p>
              <p>
                Las credenciales almacenadas se podrán eliminar en cualquier punto despues de su almacenamiento.</p>

              <strong>¿Acepta que visualGraph haga uso de su información?</strong>
            </div>
            <div class="modal-footer">
              <label><input type="checkbox" id="cbox1" value="first_checkbox"> Si, acepto</label><br>
              <button type="button" class="btn btn-default" data-dismiss="modal"
                onclick="checkTerms();">Confirmar</button>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Fin Modal Condiciones 2   -->





    <div id="mimodal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <span class="glyphicon glyphicon-ban-circle cerrar" data-dismiss="modal"></span>

        <img src="" class="modal-content recibir-imagen" width="80%" height="80%">

        <div class="modal-footer">
          <div class="col-lg-12 text-center">


          </div>
        </div>

      </div>
    </div>


  </section>

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <span class="copyright">UCE &copy; Gmsc 2018</span>
        </div>
        <div class="col-md-4">
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>


        <div class="col-md-4">
          <ul class="list-inline quicklinks">
            <li class="list-inline-item">
              <a href="#terminos_up" id="botonTer">Términos y condiciones
              </a>
            </li>

          </ul>
        </div>


      </div>
    </div>
  </footer>




  <!-- Bootstrap core JavaScript -->
  {% load static %}
  <script src="{% static 'tesisForm/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'tesisForm/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'tesisForm/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Contact form JavaScript -->
  <script src="{% static 'tesisForm/js/jqBootstrapValidation.js' %}"></script>
  <script src="{% static 'tesisForm/js/contact_me.js' %}"></script>

  <!-- Custom scripts for this template -->
  <script src="{% static 'tesisForm/js/agency.min.js' %}"></script>
  <script>



    
    $('a[href="#terminos_up"]').click(function () {

      $('.recibir-imagen').attr('src', 'http://canastahotel.com/wp-content/uploads/tc-icon.png');
      $('#mimodal').modal();
    });




    $('.btnDB').click(function () {
      var idAux = (this.id).match(/\d+/);
      //var hostT=$('#hostAux'+idAux).data('value');
      var nombreDBT = $(".listaDB" + idAux).eq(0).text();
      var hostT = $(".listaDB" + idAux).eq(1).text();
      var userT = $(".listaDB" + idAux).eq(2).text();
      var pwdT = $(".listaDB" + idAux).eq(3).text();
      //console.log(pwdT)
      $('#nombreDB').val(nombreDBT);
      $('#servidor').val(hostT);
      $('#database').val(userT);
      $('#pwd').val(pwdT);

    });



    $('.btnDB2').click(function (event) {
      var idAux = (this.id).match(/\d+/);
      var nombreDBT = $(".listaDB" + idAux).eq(0).text();
      var hostT = $(".listaDB" + idAux).eq(1).text();
      $(".UserDB" + idAux).hide();

      $.ajax({

        type: "POST",
        url: '{% url "tesisForm:prueba1" %}',
        data: {
          'csrfmiddlewaretoken': '{{ csrf_token }}',
          'nombreDBT': nombreDBT,
          'hostT': hostT

        },

      });

    });




    function checkTerms() {
      if ($('#cbox1').is(":checked")) {

        $('#aceptoCT').prop('checked', true);
        // it is checked
      } else {
        $('#aceptoCT').prop('checked', false);
      }


    }
    function validarAutenticacion() {
      if ($('#aceptoCT').is(":checked")) {


      } else {
        $("#formDB").submit(function (e) {
          e.preventDefault();

          location.reload();
          $('#alertaTerminos').alert();
        });

      }


    }




  </script>
</body>

</html>