<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=0.7, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>visualGraph</title>

  <!-- Bootstrap core CSS -->
  {% load static %}
  <link href="{% static 'tesisForm/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom fonts for this template -->

  <link href="{% static 'tesisForm/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
    type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  {% load static %}
  <link href="{% static 'tesisForm/css/agency.min.css' %}" rel="stylesheet">


  {% load static %}
  <link href="{% static 'tesisForm/css/agency.min.css' %}" rel="stylesheet">



  <!------ Include the above in your HEAD tag ---------->
  {% load static %}

  <link rel="stylesheet" href="{% static 'tesisForm/tesisStyle.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="{% static 'tesisForm/algorit.js' %}"></script>




  <style>


    select.nodos {
      font-family: Verdana, sans-serif;
      font-size: 18px;

      background-color: rgba(158, 187, 192, 0.719);
      color: black;
    }

    #todoCrearTrav {
      background-color: rgba(18, 18, 19, 0.39);
      padding-top: 20px;
      padding-bottom: 50px;
      border-radius: 35px;
    }




    option {
      font-family: Verdana, sans-serif;
      font-size: 17px;
      background: rgb(231, 224, 231);


    }

    select.dir {
      font-family: Verdana, sans-serif;
      font-size: 22px;
      background-color: rgba(80, 72, 105, 0.455);
      color: aliceblue;
    }

    select.traversals {
      font-family: Verdana, sans-serif;
      font-size: 16px;
      background-color: rgba(105, 105, 105, 0.608);
      color: aliceblue;


    }

    label {
      color: aliceblue;
      font-size: 22px;

    }

    #alertConex {

      text-shadow: 6px 6px rgba(18, 18, 19, 0.39);
    }


    #alertConex1 {
      color: aliceblue;
      text-shadow: 6px 6px rgba(18, 18, 19, 0.39);
    }

    .modal-content {
      background-color: rgba(255, 255, 255, 0.623);

      position: relative;
    overflow-y: auto;
    max-height: 800px;
    padding: 15px;
    margin-top: 50px;
}
    
.modal-title{
    

      position: relative;
    overflow-y: auto;
    color:#212529;
  

}

    #graph-container {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      position: absolute;

      background-color: #484f57;
      border-radius: 15px;

      color: aliceblue;
    }

    .todo2 {
      height: 500px;
    }


    section#imgRepre {
      background-color: #212529;

    }

    .config {
      background-color: rgba(43, 43, 44, 0.521);
      padding-top: 5px;
      padding-bottom: 50px;

      border-radius: 35px;

    }


    .fondoSecret {
      background-color: rgba(43, 43, 44, 0.322);
      padding-top: 20px;
      padding-bottom: 50px;
      border-radius: 35px;

    }



  





    /*
Hi! If my code is useful for you can you donate me some money? 
https://www.paypal.me/melnik909
*/
    .switch {
      --uiSwitchSize: var(--switchSize, 24px);
      --uiSwitchBgColor: var(--switchBgColor, #a33737);
      --uiSwitchBgColorActive: var(--switchBgColorActive, #eb971b);
      --uiSwitchBorderColorActive: var(--switchBorderColorActive, #fff);
      --uiSwitchBorderColorFocus: var(--switchBgColorFocus, #afa480);
      --uiSwitchButtonBgColor: var(--switchButtonBgColor, rgba(255, 255, 255, 0.514));

      display: inline-block;
      position: relative;
      cursor: pointer;
      -webkit-tap-highlight-color: transparent;
    }

    .switch__label {
      display: block;
      width: 100%;
      height: 100%;
    }

    .switch__toggle {
      width: 0;
      height: 0;
      opacity: 0;

      position: absolute;
      top: 0;
      left: 0;
    }

    .switch__toggle:focus~.switch__label {
      box-shadow: 0 0 0 var(--uiSwitchThickFocus, 4px) var(--uiSwitchBorderColorFocus);
    }

    .switch__toggle:checked:focus~.switch__label {
      box-shadow: 0 0 0 var(--uiSwitchThickFocus, 4px) var(--uiSwitchBorderColorActive);
    }

    .switch__label:before,
    .switch__label:after {
      content: "";
      cursor: pointer;

      position: absolute;
      top: 0;
      left: 0;
    }

    .switch__label:before {
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      background-color: var(--uiSwitchBgColor);
    }

    .switch__label:after {
      top: 50%;
      z-index: 3;
      transition: transform .4s cubic-bezier(0.44, -0.12, 0.07, 1.15);
    }

    /* type 1 */

    .switch_type1 {
      --uiSwitchBorderRadius: var(--switchBorderRadius, 60px);

      width: var(--uiSwitchSize);
      height: calc((var(--uiSwitchSize) / 2));
      border-radius: var(--uiSwitchBorderRadius);
      background-color: var(--uiSwitchBgColorActive);
    }

    .switch_type1 .switch__label {
      border-radius: var(--uiSwitchBorderRadius);
    }

    .switch_type1 .switch__label:before {
      border-radius: var(--uiSwitchBorderRadius);
      transition: opacity .2s ease-out .1s, transform .2s ease-out .1s;
      transform: scale(1);
      opacity: 1;
    }

    .switch_type1 .switch__toggle:checked~.switch__label:before {
      transform: scale(0);
      opacity: .7;
    }

    .switch_type1 .switch__label:after {
      width: calc(var(--uiSwitchSize) / 2);
      height: calc(var(--uiSwitchSize) / 2);
      transform: translate3d(0, -50%, 0);

      background-color: var(--uiSwitchButtonBgColor);
      border-radius: 100%;
      box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
    }

    .switch_type1 .switch__toggle:checked~.switch__label:after {
      transform: translate3d(100%, -50%, 0);
    }



    /* demo styles for switch */

    .switch {
      --switchSize: 40px;
      margin-top: 20px;
    }


    /*
* demo page
*/








    .sesionColor {
      color: darkgoldenrod;
    }

    .UserDB1 {
      color: aliceblue;
    }
  </style>

</head>

<body id="page-top">




  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="{% url 'tesisForm:autenticacion' %}">visualGraph</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
        aria-label="Toggle navigation">
        Menú
        <i class="fas fa-bars"></i>
      </button>

      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#imgRepre">Esquema</a>
          </li>



          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Construcción Traversals</a>
          </li>


          <li class="nav-item">
            <a class="nav-link js-scroll-trigger"></a>
          </li>

          <li class="nav-item">
            <div class="row">
              <p class="sesionColor ">Hola, {{request.user.username}} </p>
            </div>

          </li>

          <li class="nav-item">
            <div class="row">
              <p></p>
              <br>
            </div>
            <div class="row text-uppercase">
              <a href="{% url 'logout' %}" id="botonTer">cerrar sesión</a>


            </div>
          </li>
        </ul>
      </div>


    </div>
  </nav>



  <!-- img -->
  <section id="imgRepre">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">





          <h2 class="section-heading text-uppercase" id="alertConex1">Conexión satisfactoria!</h2>
          <h3 class="section-subheading text-muted">ESQUEMA DEL GRAFO</h3>


        </div>


      </div>
      <div class="row">

        <div class="col-lg-10">

          <div class="todo2">

            <div id="graph-container">
            </div>

            <div class="form-group ">

              {% with '/tesisForm/'|add:'pruebaSch'|add:'.gexf' as image_static %}
              {% load static %}

              <script>uuu = "{% static image_static%}"



              </script>


              {% endwith %}

            </div>

          </div>


        </div>
        <div class="col-lg-2 config">
          <div class="row">
            <div class="col-lg-4">
              <label class="switch switch_type1" role="switch">
                <input type="checkbox" id="myCheck" class="switch__toggle" onchange="forceAtlasSw()">
                <span class="switch__label"></span>
              </label>



            </div>

            <div class="col-lg-8">
              <label class="radio-inline ratioSel">
                aplicar fuerza
              </label>



            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">

              <button href="#myModal" id="openBtn" data-toggle="modal" class="btn btn-danger">tabla</button>


            </div>

          </div>

        </div>


      </div>








      

    </div>





<!--************************************Modal tabla relaciones*********************************-->
    <div class="container">

        <div class="modal fade" id="myModal" role="dialog" data-keyboard="false" data-backdrop="static">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header ">

                <h3 class="modal-title text-uppercase text-center">Relaciones en el grafo</h3>
              </div>
              <div class="modal-body">
                <table class="table table-striped" id="tblGrid">
                  <thead id="tblHead">
                    <tr>
                      <th>Nodo A</th>
                      <th>Relación</th>
                      <th class="text-right">Nodo B</th>
                    </tr>
                  </thead>
                  <tbody id="tablaRelaciones">

                  </tbody>
                </table>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger " data-dismiss="modal">Cerrar</button>

              </div>

            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>

    <!--************************************ FIn Modal tabla relaciones*********************************-->

  




  </section>



  <!-- travAlmace -->
  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Traversals almacenados</h2>
          <h3 class="section-subheading text-muted">Selecciona un traversal o crea uno nuevo.</h3>
        </div>
      </div>

      {%for artic in traveUser%}

      <div class="UserT{{ forloop.counter }}">

        <ul>
          <li id="trav1Aux{{ forloop.counter }}" class="listaTB{{ forloop.counter }}">{{artic.traversal}}</li>
        </ul>


        <button type="button" href="#contact" id='travSave{{ forloop.counter }}' class='btnDB2 btn btn-dark btn-l '
          onclick="document.getElementById('validarTraversal').scrollIntoView();">seleccionar</button>



        <button type="button" id='travDel{{ forloop.counter }}' class='btnTDelete btn btn-dark btn-l '>eliminar</button>


      </div>
      <br>
      {%endfor%}

    </div>
  </section>




  <!-- Construccion traversalssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss -->
  <section id="contact">
    <div class="container">


        <div class="col-lg-12">

          <br>
          <!--*************************************Construccion_Traversals********************************-->
          <h2 class="section-heading text-center">Construir traversal</h2>
            
            
            

            <div class="container-fluid col-lg-12" id="todoCrearTrav">

              <div id="crearInterac">
                <div class="form-row">

                  <div class="col aux" id="auxi1">

                    <select class="form-control nodos" style="display: none">
                    </select>

                  </div>

                  <div class="col" id="dir1">

                    <select class="form-control dir">
                      <option id="sentido1">---&gt;</option>
                      <option id="sentido3">----</option>
                      <option id="sentido2">&lt;---</option>

                    </select>


                  </div>
                  <div class="col aux" id="auxi2">
                    <select class="form-control nodos" style="display: none">
                    </select>
                  </div>



                </div>
                <!--COLU-->
                <div class="form-row">


                  <div class="col strN" id="node1">
                    <select class="form-control nodos">
                      <option>any!</option>
                      {% for node in node_list %}
                      <option>{{node}}</option>
                      {% endfor %}
                    </select>
                  </div>

                  <div class="col strR" id="relation1">
                    <select class="form-control traversals">
                      {% for node in relation_list %}
                      <option>{{node}}</option>
                      {% endfor %}
                    </select>
                  </div>

                  <div class="col strN" id="node2">
                    <select class="form-control nodos">
                      <option>any!</option>
                      {% for node in node_list %}
                      <option>{{node}}</option>
                      {% endfor %}
                    </select>
                  </div>



                </div>

              </div>

              <div class="form-row">

                <div class="col">
                  <select class="form-control nodos" style="display: none">
                  </select>
                </div>

                <button type="button" id="cloneNode2" class="btn btn-success  mt-4" onclick="addNodeRel()"
                  title="Añadir relación-nodo">+</button>
                <button type="button" id="DeletecloneNode" class="btn btn-danger  mt-4" onclick="deleteNodeRel()"
                  title="Eliminar relación-nodo">-</button>

              </div>

            </div>
            <br>
            
            
            
            <button type="button" id="validarTraversal" class="btn btn-warning mt-4" onclick="crearTraversal()">añadir
              traversal</button>
            <button type="button" id="DelvalidarTraversal" class="btn btn-danger mt-4"
              onclick="eliminarTraversal()">eliminar
              traversal</button>
            <!--*************************************Fin_Construccion_Traversals********************************-->






            <form action="{% url 'tesisForm:visualizacion' %}" method="post" id="form" enctype="multipart/form-data">
              {% csrf_token %}


              <br><br><br>

              <input id="metric1" readonly="readonly" style="display: none" name="btwns">
              <input id="metric2" readonly="readonly" style="display: none" name="degree">
              <input id="metric3" readonly="readonly" style="display: none" name="pgRk">

              <input id="funcionLogica"  name="esFormula" value="0" readonly="readonly" style="display: none">
              
              
              
              <!--***********************Co**********************-->
  


              <div id="ListAddTraversal" style="display: none;">

                <h2 class="section-heading ">Lista Traversals:</h2>
                <ul id="listaPro" style="display: none">

                </ul>
                <ul id="listaProAux" class="list-group">

                </ul>

                <br><br>

              </div>
              
              
            <!--*********************************************-->


              <div id="funcLogic" style="display: none;">


                <h2 class="section-heading ">Especificar fórmula lógica:</h2>
                <input class="form-control form-control-sm" id="camino" type="text">


                
                
                          <button type="button" id="formulaLogica" class="btn btn-warning mt-4" onclick="addCam();"> crear fórmula</button>
                          
                          
                          

              </div>


  <br><br><br> <br> <br>







              <h2 class="section-heading ">Traversal resultado:</h2>
              <input class="form-control form-control-sm" id="traversal" type="text" name="traversal" required="required" data-validation-required-message="Please enter a host.">

                <br><br><br> <br> <br><br> <br> <br>


              <h2 class="section-heading ">Definir Métricas para nodos:</h2>
              <div class="checkbox">
                <label><input type="checkbox" value="ww" id="met1"> Betweennes</label>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" value="dd" id="met2"> Degree</label>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" value="" id="met3"> Page Rank</label>
              </div>

              <br>




              <label for="nom">Nombre de archivo:</label>
              <input class="form-control form-control-sm" id="nom" type="text" name="nombreA" required="required"
                data-validation-required-message="Please enter a host.">

              <label for="limit">limitar consulta:</label>
              <input class="form-control form-control-sm input-number" id="limit" type="number" name="limit1"
                value="200">












              <input type="submit" value="generar archivo" class="btn btn-warning mt-4 generarConsulta"
                onclick="checkMetric();showLoada();">
                
                
            </form>

            <!--************MODAL********************************-->
            <div id="mimodal" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
              <div class="modal-dialog">

                <img src="" class="modal-content recibir-imagen" width="80%" height="80%">

                <div class="modal-footer">
                  <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase" id="alertConex">Procesando....</h2>

                  </div>
                </div>

              </div>
            </div>



        </div>

   
    </div>
  </section>




  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <span class="copyright">UCE &copy; Gmsc 2018</span>
        </div>
        <div class="col-md-4">
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul class="list-inline quicklinks">
            <li class="list-inline-item">
              <a href="#">Términos y condiciones
              </a>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </footer>




  <!-- Bootstrap core JavaScript -->
  {% load static %}
  <script src="{% static 'tesisForm/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'tesisForm/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'tesisForm/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Contact form JavaScript -->
  <script src="{% static 'tesisForm/js/jqBootstrapValidation.js' %}"></script>
  <script src="{% static 'tesisForm/js/contact_me.js' %}"></script>

  <!-- Custom scripts for this template -->
  <script src="{% static 'tesisForm/js/agency.min.js' %}"></script>



  <!--**************************************************************-->

  <!-- Bootstrap core JavaScript -->
  {% load static %}
  <script src="{% static 'tesisForm/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'tesisForm/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'tesisForm/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Contact form JavaScript -->
  <script src="{% static 'tesisForm/js/jqBootstrapValidation.js' %}"></script>
  <script src="{% static 'tesisForm/js/contact_me.js' %}"></script>

  <!-- Custom scripts for this template -->
  <script src="{% static 'tesisForm/js/agency.min.js' %}"></script>



  <script src="{% static 'tesisForm/src/sigma.core.js' %}"></script>
  <script src="{% static 'tesisForm/src/conrad.js' %}"></script>
  <script src="{% static 'tesisForm/src/utils/sigma.utils.js' %}"></script>
  <script src="{% static 'tesisForm/src/utils/sigma.polyfills.js' %}"></script>
  <script src="{% static 'tesisForm/src/sigma.settings.js' %}"></script>
  <script src="{% static 'tesisForm/src/classes/sigma.classes.dispatcher.js' %}"></script>
  <script src="{% static 'tesisForm/src/classes/sigma.classes.configurable.js' %}"></script>
  <script src="{% static 'tesisForm/src/classes/sigma.classes.graph.js' %}"></script>
  <script src="{% static 'tesisForm/src/classes/sigma.classes.camera.js' %}"></script>
  <script src="{% static 'tesisForm/src/classes/sigma.classes.quad.js' %}"></script>
  <script src="{% static 'tesisForm/src/classes/sigma.classes.edgequad.js' %}"></script>
  <script src="{% static 'tesisForm/src/captors/sigma.captors.mouse.js' %}"></script>
  <script src="{% static 'tesisForm/src/captors/sigma.captors.touch.js' %}"></script>
  <script src="{% static 'tesisForm/src/renderers/sigma.renderers.canvas.js' %}"></script>
  <script src="{% static 'tesisForm/src/renderers/sigma.renderers.webgl.js' %}"></script>
  <script src="{% static 'tesisForm/src/renderers/sigma.renderers.svg.js' %}"></script>
  <script src="{% static 'tesisForm/src/renderers/sigma.renderers.def.js' %}"></script>
  <script src="{% static 'tesisForm/src/renderers/webgl/sigma.webgl.nodes.def.js' %}"></script>
  <script src="{% static 'tesisForm/src/renderers/webgl/sigma.webgl.nodes.fast.js' %}"></script>
  <script src="{% static 'tesisForm/src/renderers/webgl/sigma.webgl.edges.def.js' %}"></script>
  <script src="{% static 'tesisForm/src/renderers/webgl/sigma.webgl.edges.fast.js' %}"></script>
  <script src="{% static 'tesisForm/src/renderers/webgl/sigma.webgl.edges.arrow.js' %}"></script>
  <script src="{% static 'tesisForm/src/renderers/canvas/sigma.canvas.labels.def.js' %}"></script>
  <script src="{% static 'tesisForm/src/renderers/canvas/sigma.canvas.hovers.def.js' %}"></script>
  <script src="{% static 'tesisForm/src/renderers/canvas/sigma.canvas.nodes.def.js' %}"></script>
  <script src="{% static 'tesisForm/src/renderers/canvas/sigma.canvas.edges.def.js' %}"></script>
  <script src="{% static 'tesisForm/src/renderers/canvas/sigma.canvas.edges.curve.js' %}"></script>
  <script src="{% static 'tesisForm/src/renderers/canvas/sigma.canvas.edges.arrow.js' %}"></script>
  <script src="{% static 'tesisForm/src/renderers/canvas/sigma.canvas.edges.curvedArrow.js' %}"></script>
  <script src="{% static 'tesisForm/src/renderers/canvas/sigma.canvas.edgehovers.def.js' %}"></script>
  <script src="{% static 'tesisForm/src/renderers/canvas/sigma.canvas.edgehovers.curve.js' %}"></script>
  <script src="{% static 'tesisForm/src/renderers/canvas/sigma.canvas.edgehovers.arrow.js' %}"></script>
  <script src="{% static 'tesisForm/src/renderers/canvas/sigma.canvas.edgehovers.curvedArrow.js' %}"></script>
  <script src="{% static 'tesisForm/src/renderers/canvas/sigma.canvas.extremities.def.js' %}"></script>
  <script src="{% static 'tesisForm/src/renderers/svg/sigma.svg.utils.js' %}"></script>
  <script src="{% static 'tesisForm/src/renderers/svg/sigma.svg.nodes.def.js' %}"></script>
  <script src="{% static 'tesisForm/src/renderers/svg/sigma.svg.edges.def.js' %}"></script>
  <script src="{% static 'tesisForm/src/renderers/svg/sigma.svg.edges.curve.js' %}"></script>
  <script src="{% static 'tesisForm/src/renderers/svg/sigma.svg.labels.def.js' %}"></script>
  <script src="{% static 'tesisForm/src/renderers/svg/sigma.svg.hovers.def.js' %}"></script>
  <script src="{% static 'tesisForm/src/middlewares/sigma.middlewares.rescale.js' %}"></script>
  <script src="{% static 'tesisForm/src/middlewares/sigma.middlewares.copy.js' %}"></script>
  <script src="{% static 'tesisForm/src/misc/sigma.misc.animation.js' %}"></script>
  <script src="{% static 'tesisForm/src/misc/sigma.misc.bindEvents.js' %}"></script>
  <script src="{% static 'tesisForm/src/misc/sigma.misc.bindDOMEvents.js' %}"></script>
  <script src="{% static 'tesisForm/src/misc/sigma.misc.drawHovers.js' %}"></script>


  <script src="{% static 'tesisForm/plugins/sigma.parsers.gexf/gexf-parser.js' %}"></script>
  <script src="{% static 'tesisForm/plugins/sigma.parsers.gexf/sigma.parsers.gexf.js' %}"></script>

  <script src="{% static 'tesisForm/plugins/sigma.layout.forceAtlas2/worker.js' %}"></script>
  <script src="{% static 'tesisForm/plugins/sigma.layout.forceAtlas2/supervisor.js' %}"></script>
  <script src="{% static 'tesisForm/plugins/sigma.plugins.dragNodes/sigma.plugins.dragNodes.js' %}"></script>


  <script src="{% static 'tesisForm/plugins/sigma.renderers.parallelEdges/utils.js' %}"></script>
  <script src="{% static 'tesisForm/plugins/sigma.renderers.parallelEdges/sigma.canvas.edges.curve.js' %}"></script>
  <script
    src="{% static 'tesisForm/plugins/sigma.renderers.parallelEdges/sigma.canvas.edges.curvedArrow.js' %}"></script>
  <script
    src="{% static 'tesisForm/plugins/sigma.renderers.parallelEdges/sigma.canvas.edgehovers.curve.js' %}"></script>
  <script
    src="{% static 'tesisForm/plugins/sigma.renderers.parallelEdges/sigma.canvas.edgehovers.curvedArrow.js' %}"></script>
  <script src="{% static 'tesisForm/plugins/sigma.renderers.edgeLabels/settings.js' %}"></script>
  <script src="{% static 'tesisForm/plugins/sigma.renderers.edgeLabels/sigma.canvas.edges.labels.def.js' %}"></script>
  <script src="{% static 'tesisForm/plugins/sigma.renderers.edgeLabels/sigma.canvas.edges.labels.curve.js' %}"></script>
  <script
    src="{% static 'tesisForm/plugins/sigma.renderers.edgeLabels/sigma.canvas.edges.labels.curvedArrow.js' %}"></script>



  <script>
    var nodesEsquemaA = '{{schemaG1|safe}}';
    var nodesEsquemaB = '{{schemaG2|safe}}';
    var relEsquema = '{{schemaG3|safe}}';
    var nodesListF = '{{node_listSq|safe}}';

    var graphF = {
      nodos: [],
      relat: [],
    }

    var n1 = JSON.parse(nodesEsquemaA);
    var n2 = JSON.parse(nodesEsquemaB);
    var rel1 = JSON.parse(relEsquema);
    var nodeListFF = JSON.parse(nodesListF);

    var nodeCount = Object.keys(nodeListFF).length;
    var relCount = Object.keys(rel1).length;


    var i,
      s,
      N = 10,
      E = 50,
      g = {
        nodes: [],
        edges: []
      };
    for (var j = 0; j < nodeCount; j++)
      g.nodes.push({
        id: nodeListFF[j],
        label: nodeListFF[j],
        x: Math.random(),
        y: Math.random(),
        size: 1,
        color: '#' + (
          Math.floor(Math.random() * 16777215).toString(16) + '000000'
        ).substr(0, 6)


      });

    for (i = 0; i < relCount; i++) {

      $('#tablaRelaciones').append('<tr> <td>' + n1[i] + '</td>' + '<td>' + rel1[i] + '</td>' + '<td class="text-right">' + n2[i] + '</td>' + '</tr>');
    }
    //


    for (i = 0; i < relCount; i++) {
      //añadir a tablaf1




      g.edges.push({
        id: 'e' + i,
        label: rel1[i],
        source: n1[i],
        target: n2[i],
        size: 2,
        color: '#fec20f',
        type: 'curvedArrow',
        count: i
      });



    }
    //console.log(g.nodes)

    // Instantiate sigma:

    // console.log(g.nodes)
    s = new sigma({
      graph: g,
      renderer: {
        container: document.getElementById('graph-container'),
        type: 'canvas'
      },
      settings: {
        defaultLabelColor: '#eeedd9',
        defaultLabelSize: 19,
        defaultEdgeLabelColor: '#c2b4b4',
        defaultEdgeLabelSize:13,
        minNodeSize: 4,
        minEdgeSize: 0.6,
        maxEdgeSize: 2,
        maxNodeSize: 16,
        


      }
    });




    var dragListener = sigma.plugins.dragNodes(s, s.renderers[0]);

    dragListener.bind('startdrag', function (event) {
      //console.log(event);
    });
    dragListener.bind('drag', function (event) {


      
      //console.log(event);
    });
    dragListener.bind('drop', function (event) {
      // console.log(event);
    });
    dragListener.bind('dragend', function (event) {
      // console.log(event);
    });

    function apliForce() {

      s.startForceAtlas2({ worker: true, barnesHutOptimize: false, slowDow:5 });



      s.refresh();
    }

    function apliForceStop() {

      s.stopForceAtlas2();



      s.refresh();
    }





    function forceAtlasSw() {
      var checkBox = document.getElementById("myCheck");
      // Get the output text
      var text = document.getElementById("text");

      // If the checkbox is checked, display the output text
      if (checkBox.checked == true) {
        apliForce();
      } else {
        apliForceStop();
      }
    };


    function tablaRel() {
      $('#classModal').modal('show');
    }





    $('.btnDB2').click(function () {
      var idAux = (this.id).match(/\d+/);
      //var hostT=$('#hostAux'+idAux).data('value');
      var trav = $(".listaTB" + idAux).eq(0).text();
      var indexT = $("#listaPro li").length + 1;

      $("#listaPro").append("<li class='free listaTra' id='travelList" + indexT + "'>" + trav + "</li>");

      $("#listaProAux").append("<li class='free list-group-item' id='travelListo" + indexT + "'>" + "T" + indexT + "= " + trav + "</li>");
     
     
      var trav2=trav.trim();
      var valorF1=trav2.indexOf(') xor (');
      var valorF2=trav2.indexOf(') or (');
      var valorF3=trav2.indexOf(') and (');
      //console.log(valorF1, valorF2, valorF3);
      if (valorF1!=-1|| valorF2!=-1||valorF3!=-1){
 

        $('#funcionLogica').val('1');
      }else{
      
        $('#funcionLogica').val('0');
      }
   
      



      if ($("#listaPro li").length >= 1) {
        $("#ListAddTraversal").show();
      } else {
        $("#ListAddTraversal").hide();
      }

      if ($("#listaPro li").length >= 2) {
        $("#funcLogic").show();
      } else {
        $("#funcLogic").hide();
      }


      $('#traversal').val(trav);

    });









    $('.btnTDelete').click(function (event) {
      var idAux = (this.id).match(/\d+/);
      var travAlm = $(".listaTB" + idAux).eq(0).text();


      $(".UserT" + idAux).hide();


      $.ajax({

        type: "POST",
        url: '{% url "tesisForm:prueba2" %}',
        data: {
          'csrfmiddlewaretoken': '{{ csrf_token }}',
          'travAlm': travAlm,


        },
        // success: function(){
        //   $('#message').html("<h2>Contact Form Submitted!</h2>") 
        // }
      });
      //return false; //

    });


    $('.generarConsulta').click(function (event) {



    });








  </script>














</body>

</html>