<!DOCTYPE html>
<html lang="es">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=0.7, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>visualGraph</title>

  <!-- Bootstrap core CSS -->
  {% load static %}
  <link href="{% static 'tesisForm/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom fonts for this template -->

  <link href="{% static 'tesisForm/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

  <link href="{% static 'tesisForm/css/agency.min.css' %}" rel="stylesheet">


</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">visualGraph</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
        aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#services">Qué es?</a>
          </li>

          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">Cómo usar?</a>
          </li>

          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Conectarse!</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'login' %}" id="botonTer2">iniciar sesión</a>
          
          </li>

        
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header class="masthead">
    <div class="container">
      <div class="intro-text">
        <div class="intro-lead-in">Bienvenido a visualGraph!</div>
        <div class="intro-heading text-uppercase">herramienta para análisis y visualización de datos basados en grafo
        </div>
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Conocer mas...</a>
      </div>
      </div>
  </header>

  <!-- Services -->
  <section id="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">visualGraph</h2>
          <h3 class="section-subheading text-muted">Permite construir consultas sobre una base de datos en
            neo4j, aplicar métricas de centralidad a los nodos y mostrar resultados gráficos</h3>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-4 ">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Accede a bases de datos neo4j</h4>
          <p class="text-muted text-justify">Para hacer uso de visualGraph debes estar registrado como usuario del sistema, entonces pondrás ingresar las credenciales de tu base de datos alojada en neo4j.<br>  </p>


        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-route fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Crea consultas</h4>
          <p class="text-muted  text-justify" >* Crea traversals en base a los tipos de nodos y relaciones contenidos en la base.<br>
            * Define fórmulas lógicas entre los traversals creados.
          </p>
 
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-chart-line fa-stack-1x fa-inverse"></i>

          </span>
          <h4 class="service-heading">Visualiza tu información</h4>
          <p  class="text-muted text-justify">Obten una representación visual de los datos que satisfagan la consulta o bien descarga un fichero para realizar
            representaciones visuales personalizadas mediante Gephi.</p>
        </div>
      </div>
    </div>
  </section>



  <!-- About -->
  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Uso de visualgraph</h2>
          <h3 class="section-subheading text-muted">pautas para un correcto uso de la herramienta.</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <ul class="timeline">
            <li>
              <div class="timeline-image">
                {% load static %}

                <img class="rounded-circle img-fluid" src="{% static 'tesisForm/img/about/1.jpg' %}" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">

                  <h4 class="subheading text-left">Ingreso de credenciales</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted text-justify">Maneja la información de tu base de datos alojada en Neo4j. Requerirás del host, usuario y contraseña para acceder a la misma. Asegúrate
                    que la base de datos se puede escuchar desde un lugar exterior al que se aloja. </p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                {% load static %}
                <img class="rounded-circle img-fluid" src="{% static 'tesisForm/img/about/2.jpg' %}" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">

                  <h4 class="subheading text-left">Construcción de traversals</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted text-justify">Dentro de la aplicación se te mostrará un esquema de la base de datos,
                  donde se podrán apreciar los tipos de nodos y relaciones contenidas.<br>
                    En la construcción de traversals especifica realaciones coherentes.

                  </p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-image">
                {% load static %}
                <img class="rounded-circle img-fluid" src="{% static 'tesisForm/img/about/3.jpg' %}" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">

                  <h4 class="subheading text-left">Creación de fórmulas lógicas</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted text-justify">Si has creado mas de un traversal podras especificar fórmulas lógicas con los operadores: and, or, xor. <br>
                    Ejemplo:<br> T1 or T2<br>
                    T1 and T2
                  </p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                {% load static %}
                <img class="rounded-circle img-fluid" src="{% static 'tesisForm/img/about/4.jpg' %}" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">

                  <h4 class="subheading text-left">Visualización</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted text-justify">Puedes configurar tus visualizaciones:<br><br>
                  Especifica una propiedad de los  nodos que intervengan en la visualización para etiquetarlos.<br>
                Es posible reconocer a los nodos sobresalientes marcando una diferenciación de color y tamaño en base a las métricas de centralidad aplicadas.<br>
                Descarga un archivo .gexf para crear visualizaciones avanzadas con la herramienta Gephi.
              </p>
               
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <h4>empieza
                  <br>ahora
                  <br>mismo!</h4>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <!-- Contact -->
  <section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Accede a visualgraph</h2>
          <h3 class="section-subheading text-muted ">Para manejar la aplicación es necesario que inicies sesión
          </h3>
          <a href="{% url 'login' %}" id="botonTer" class="text-uppercase">iniciar sesión</a>






        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">

      
        </div>

      </div>
    </div>
    
 

    <div id="mimodal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <span class="glyphicon glyphicon-ban-circle cerrar" data-dismiss="modal"></span>

        <img src="" class="modal-content recibir-imagen" width="80%" height="80%">

        <div class="modal-footer">
          <div class="col-lg-12 text-center">


          </div>
        </div>

      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <span class="copyright">UCE &copy; Gmsc 2018</span>
        </div>
        <div class="col-md-4">
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>


        <div class="col-md-4">
          <ul class="list-inline quicklinks">
            <li class="list-inline-item">


              <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Licencia de Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a><br /> .
            </li>

          </ul>
        </div>


      </div>
    </div>
  </footer>




  <!-- Bootstrap core JavaScript -->
  {% load static %}
  <script src="{% static 'tesisForm/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'tesisForm/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'tesisForm/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Contact form JavaScript -->
  <script src="{% static 'tesisForm/js/jqBootstrapValidation.js' %}"></script>
  <script src="{% static 'tesisForm/js/contact_me.js' %}"></script>

  <!-- Custom scripts for this template -->
  <script src="{% static 'tesisForm/js/agency.min.js' %}"></script>

  <script src="{% static 'tesisForm/algorit.js' %}"></script>
  
  
  <script>

  </script>
</body>

</html>