<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.7, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>visualGraph</title>

    <!-- Bootstrap core CSS -->
    {% load static %}
    <link href="{% static 'tesisForm/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->

    <link href="{% static 'tesisForm/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    {% load static %}
    <link href="{% static 'tesisForm/css/agency.min.css' %}" rel="stylesheet">


    {% load static %}
    <link href="{% static 'tesisForm/css/agency.min.css' %}" rel="stylesheet">



    <!------ Include the above in your HEAD tag ---------->
    {% load static %}

    <link rel="stylesheet" href="{% static 'tesisForm/tesisStyle.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{% static 'tesisForm/algorit.js' %}"></script>

    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>





    <style>
        select { 
      text-align-last:center;

       }

         option { 
      text-align-last:center;

       }
    select.nodos {
  font-family:Verdana, sans-serif;
  font-size: 18px;

  background-color:rgba(158, 187, 192, 0.719);
  color: black;
}
  #todoCrearTrav{
    background-color: rgba(18, 18, 19, 0.39);
    padding-top: 20px;
    padding-bottom: 50px;
    border-radius: 35px;
  }




 option {
  font-family:Verdana, sans-serif;
  font-size: 17px;
  background-color: rgb(231, 224, 231);


}

select.dir {
  font-family: Verdana, sans-serif;
  font-size: 22px;
  background-color:rgba(80, 72, 105, 0.455);
  color: aliceblue;
  }

select.traversals {
  font-family:Verdana, sans-serif;
  font-size: 16px;
  background-color:rgba(105, 105, 105, 0.608);
  color: aliceblue;


}
label {
  color: aliceblue;
  font-size: 22px;
 
}


.ratioSel{
    font-size: 20px;

}

#alertConex{

text-shadow: 6px 6px rgba(18, 18, 19, 0.39);
}
#graph-container {
top: 0;
bottom: 0;
 left: 0;
right: 0;
position: absolute;

background-color: #484f57;
border-radius: 15px;

color: aliceblue;
                  }
.todo2{
height: 500px;
}


.textPeke{
    color: aliceblue;
    font-size: 18px;
}


.textPeke2{
    color: rgb(175, 106, 17);
    font-size: 19px;
    background-color: #ffffff2d;
    border-radius: 15px;
}

.title32{
    color: aliceblue;
    font-size: 25px;

}



.config{
    background-color: rgba(18, 18, 19, 0.39);
    padding-top: 5px;
    padding-bottom: 50px;

    border-radius: 35px;

}

/*
Hi! If my code is useful for you can you donate me some money? 
https://www.paypal.me/melnik909
*/
.switch{
  --uiSwitchSize: var(--switchSize, 24px);
  --uiSwitchBgColor: var(--switchBgColor, #a33737);
  --uiSwitchBgColorActive: var(--switchBgColorActive, #eb971b);
  --uiSwitchBorderColorActive: var(--switchBorderColorActive, #fff);
  --uiSwitchBorderColorFocus: var(--switchBgColorFocus, #afa480);
  --uiSwitchButtonBgColor: var(--switchButtonBgColor, rgba(255, 255, 255, 0.514));  
  
  display: inline-block;
  position: relative;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
.switch__label{
  display: block;
  width: 100%;
  height: 100%;
}

.switch__toggle{
  width: 0;
  height: 0;
  opacity: 0;
  
  position: absolute;
  top: 0;
  left: 0;
}

.switch__toggle:focus ~ .switch__label{
  box-shadow: 0 0 0 var(--uiSwitchThickFocus, 4px) var(--uiSwitchBorderColorFocus);
}

.switch__toggle:checked:focus ~ .switch__label{
  box-shadow: 0 0 0 var(--uiSwitchThickFocus, 4px) var(--uiSwitchBorderColorActive);
}

.switch__label:before, .switch__label:after{
  content: "";
  cursor: pointer;

  position: absolute;
  top: 0;
  left: 0;
}

.switch__label:before{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: var(--uiSwitchBgColor);
}

.switch__label:after{
  top: 50%;
  z-index: 3;
  transition: transform .4s cubic-bezier(0.44,-0.12, 0.07, 1.15);
}

/* type 1 */

.switch_type1{
  --uiSwitchBorderRadius: var(--switchBorderRadius, 60px);
  
  width: var(--uiSwitchSize);
  height: calc((var(--uiSwitchSize) / 2));
  border-radius: var(--uiSwitchBorderRadius);    
  background-color: var(--uiSwitchBgColorActive);
}

.switch_type1 .switch__label{
  border-radius: var(--uiSwitchBorderRadius);    
}

.switch_type1 .switch__label:before{
  border-radius: var(--uiSwitchBorderRadius);
  transition: opacity .2s ease-out .1s, transform .2s ease-out .1s;
  transform: scale(1);
  opacity: 1;
}

.switch_type1 .switch__toggle:checked ~ .switch__label:before{
  transform: scale(0);
  opacity: .7;
}

.switch_type1 .switch__label:after{
  width: calc(var(--uiSwitchSize) / 2);
  height: calc(var(--uiSwitchSize) / 2);
  transform: translate3d(0, -50%, 0);
  
  background-color: var(--uiSwitchButtonBgColor);
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .3);  
}

.switch_type1 .switch__toggle:checked ~ .switch__label:after{
  transform: translate3d(100%, -50%, 0);
}



/* demo styles for switch */

.switch{
  --switchSize: 40px;
  margin-top: 20px;
}


/*
* demo page
*/




    .sesionColor {
      color: darkgoldenrod;
    }







</style>

</head>

<body id="page-top">




    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="{% url 'tesisForm:autenticacion' %}">visualGraph</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ml-auto">
              
        
        
                    <li class="nav-item">
                        <div class="row">
                          <p class="sesionColor ">Hola, {{request.user.username}} </p>
                        </div>
            
                      </li>
            
                      <li class="nav-item">
                        <div class="row">
                          <p></p>
                          <br>
                        </div>
                        <div class="row text-uppercase">
                          <a href="{% url 'logout' %}" id="botonTer">cerrar sesión</a>
            
            
                        </div>
                      </li>
                </ul>
              </div>
        


        </div>
    </nav>


    <!-- Contact -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 text-center">

                    <div class="intro-lead-in title32">Representación visual</div>
                </div>

            </div>

            <br>
            <div class="row">
                <div class="col-lg-10">
                    <div class="todo2">

                        <div id="graph-container">
                        </div>

                        <div class="form-group ">

                            {% with '/tesisForm/'|add:nombreA|add:'Aux.gexf' as image_static %}
                            {% load static %}

                            <script>uuu = "{% static image_static%}"</script>


                            {% endwith %}

                        </div>

                    </div>
                </div>
                <div class="col-lg-2 config">
                    <div class="row">




                    </div>
                    <div class="row" id="propiedades">
                        <h5 class="text-uppercase col textPeke2 text-center">definir etiquetas</h5>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <button type="button" id="botoonForce" class="btn btn-danger  mt-4 text-center" onclick="apliForceP()">aplicar</button>


                        </div>

                    </div>



                    <div class="row">
            
                        <div class="col-lg-12 ">
                            <label class="radio-inline ratioSel">
                                <input type="radio" name="optradio" id="btns">Betweennes
                            </label>
                        </div>

                        <div class="col-lg-12 ">
                            <label class="radio-inline ratioSel">
                                <input type="radio" name="optradio" id="dgr">Degree
                            </label>
                        </div>

                        <div class="col-lg-12 ">
                            <label class="radio-inline ratioSel">
                                <input type="radio" name="optradio" id="pgrk">PgRank
                            </label>
                        </div>


                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <label class="switch switch_type1" role="switch">
                                <input type="checkbox" id="myCheck" class="switch__toggle" onchange="forceAtlasSw()">
                                <span class="switch__label"></span>
                            </label>



                        </div>

                        <div class="col-lg-8">
                            <label class="radio-inline ratioSel">
                                Algoritmo ForceAtlas
                            </label>



                        </div>
                    </div>



                    <div class="row">
                        <div class="col-lg-12 ">

                            <button type="button" id="botoonForce3" class="btn btn-danger  mt-4 " onclick="noverlaaap()">noverlap</button>

                        </div>

                    </div>

                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <div>
                                {% with '/tesisForm/'|add:nombreA|add:'.gexf' as image_static2 %}
                                {% load static %}
                                <form method="get" action="{% static image_static2%}">
                                    <button type="submit" class="btn btn-warning mt-4">Descargar!</button>
                                    {% endwith %}
                                </form>
                            </div>
                        </div>
                    </div>





                </div>

            </div>
            <div class="row">
                <div class="col-lg-6">


                    <button type="button" id="botoonpru" class="btn btn-danger  mt-4 " onclick="dibujarPropiedad()" style="display: none" >dibujar</button>

                </div>
            </div>




        </div>

    </section>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">UCE &copy; Gmsc 2018</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li class="list-inline-item">
                            <a href="#">Términos y condiciones
                            </a>
                        </li>

                    </ul>
                </div>

            </div>
        </div>
    </footer>




    <!-- Bootstrap core JavaScript -->
    {% load static %}
    <script src="{% static 'tesisForm/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'tesisForm/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'tesisForm/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Contact form JavaScript -->
    <script src="{% static 'tesisForm/js/jqBootstrapValidation.js' %}"></script>
    <script src="{% static 'tesisForm/js/contact_me.js' %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'tesisForm/js/agency.min.js' %}"></script>



    <script src="{% static 'tesisForm/src/sigma.core.js' %}"></script>
    <script src="{% static 'tesisForm/src/conrad.js' %}"></script>
    <script src="{% static 'tesisForm/src/utils/sigma.utils.js' %}"></script>
    <script src="{% static 'tesisForm/src/utils/sigma.polyfills.js' %}"></script>
    <script src="{% static 'tesisForm/src/sigma.settings.js' %}"></script>
    <script src="{% static 'tesisForm/src/classes/sigma.classes.dispatcher.js' %}"></script>
    <script src="{% static 'tesisForm/src/classes/sigma.classes.configurable.js' %}"></script>
    <script src="{% static 'tesisForm/src/classes/sigma.classes.graph.js' %}"></script>
    <script src="{% static 'tesisForm/src/classes/sigma.classes.camera.js' %}"></script>
    <script src="{% static 'tesisForm/src/classes/sigma.classes.quad.js' %}"></script>
    <script src="{% static 'tesisForm/src/classes/sigma.classes.edgequad.js' %}"></script>
    <script src="{% static 'tesisForm/src/captors/sigma.captors.mouse.js' %}"></script>
    <script src="{% static 'tesisForm/src/captors/sigma.captors.touch.js' %}"></script>
    <script src="{% static 'tesisForm/src/renderers/sigma.renderers.canvas.js' %}"></script>
    <script src="{% static 'tesisForm/src/renderers/sigma.renderers.webgl.js' %}"></script>
    <script src="{% static 'tesisForm/src/renderers/sigma.renderers.svg.js' %}"></script>
    <script src="{% static 'tesisForm/src/renderers/sigma.renderers.def.js' %}"></script>
    <script src="{% static 'tesisForm/src/renderers/webgl/sigma.webgl.nodes.def.js' %}"></script>
    <script src="{% static 'tesisForm/src/renderers/webgl/sigma.webgl.nodes.fast.js' %}"></script>
    <script src="{% static 'tesisForm/src/renderers/webgl/sigma.webgl.edges.def.js' %}"></script>
    <script src="{% static 'tesisForm/src/renderers/webgl/sigma.webgl.edges.fast.js' %}"></script>
    <script src="{% static 'tesisForm/src/renderers/webgl/sigma.webgl.edges.arrow.js' %}"></script>
    <script src="{% static 'tesisForm/src/renderers/canvas/sigma.canvas.labels.def.js' %}"></script>
    <script src="{% static 'tesisForm/src/renderers/canvas/sigma.canvas.hovers.def.js' %}"></script>
    <script src="{% static 'tesisForm/src/renderers/canvas/sigma.canvas.nodes.def.js' %}"></script>
    <script src="{% static 'tesisForm/src/renderers/canvas/sigma.canvas.edges.def.js' %}"></script>
    <script src="{% static 'tesisForm/src/renderers/canvas/sigma.canvas.edges.curve.js' %}"></script>
    <script src="{% static 'tesisForm/src/renderers/canvas/sigma.canvas.edges.arrow.js' %}"></script>
    <script src="{% static 'tesisForm/src/renderers/canvas/sigma.canvas.edges.curvedArrow.js' %}"></script>
    <script src="{% static 'tesisForm/src/renderers/canvas/sigma.canvas.edgehovers.def.js' %}"></script>
    <script src="{% static 'tesisForm/src/renderers/canvas/sigma.canvas.edgehovers.curve.js' %}"></script>
    <script src="{% static 'tesisForm/src/renderers/canvas/sigma.canvas.edgehovers.arrow.js' %}"></script>
    <script src="{% static 'tesisForm/src/renderers/canvas/sigma.canvas.edgehovers.curvedArrow.js' %}"></script>
    <script src="{% static 'tesisForm/src/renderers/canvas/sigma.canvas.extremities.def.js' %}"></script>
    <script src="{% static 'tesisForm/src/renderers/svg/sigma.svg.utils.js' %}"></script>
    <script src="{% static 'tesisForm/src/renderers/svg/sigma.svg.nodes.def.js' %}"></script>
    <script src="{% static 'tesisForm/src/renderers/svg/sigma.svg.edges.def.js' %}"></script>
    <script src="{% static 'tesisForm/src/renderers/svg/sigma.svg.edges.curve.js' %}"></script>
    <script src="{% static 'tesisForm/src/renderers/svg/sigma.svg.labels.def.js' %}"></script>
    <script src="{% static 'tesisForm/src/renderers/svg/sigma.svg.hovers.def.js' %}"></script>
    <script src="{% static 'tesisForm/src/middlewares/sigma.middlewares.rescale.js' %}"></script>
    <script src="{% static 'tesisForm/src/middlewares/sigma.middlewares.copy.js' %}"></script>
    <script src="{% static 'tesisForm/src/misc/sigma.misc.animation.js' %}"></script>
    <script src="{% static 'tesisForm/src/misc/sigma.misc.bindEvents.js' %}"></script>
    <script src="{% static 'tesisForm/src/misc/sigma.misc.bindDOMEvents.js' %}"></script>
    <script src="{% static 'tesisForm/src/misc/sigma.misc.drawHovers.js' %}"></script>
    <!---->

    <script src="{% static 'tesisForm/plugins/sigma.renderers.edgeLabels/settings.js' %}"></script>
    <script src="{% static 'tesisForm/plugins/sigma.renderers.edgeLabels/sigma.canvas.edges.labels.def.js' %}"></script>
    <script src="{% static 'tesisForm/plugins/sigma.renderers.edgeLabels/sigma.canvas.edges.labels.curve.js' %}"></script>
    <script src="{% static 'tesisForm/plugins/sigma.renderers.edgeLabels/sigma.canvas.edges.labels.curvedArrow.js' %}"></script>


    <script src="{% static 'tesisForm/plugins/sigma.parsers.gexf/gexf-parser.js' %}"></script>
    <script src="{% static 'tesisForm/plugins/sigma.parsers.gexf/sigma.parsers.gexf.js' %}"></script>

    <script src="{% static 'tesisForm/plugins/sigma.layout.forceAtlas2/worker.js' %}"></script>
    <script src="{% static 'tesisForm/plugins/sigma.layout.forceAtlas2/supervisor.js' %}"></script>
    <script src="{% static 'tesisForm/plugins/sigma.plugins.dragNodes/sigma.plugins.dragNodes.js' %}"></script>


    <script src="{% static 'tesisForm/plugins/sigma.renderers.parallelEdges/utils.js' %}"></script>
    <script src="{% static 'tesisForm/plugins/sigma.renderers.parallelEdges/sigma.canvas.edges.curve.js' %}"></script>
    <script src="{% static 'tesisForm/plugins/sigma.renderers.parallelEdges/sigma.canvas.edges.curvedArrow.js' %}"></script>
    <script src="{% static 'tesisForm/plugins/sigma.renderers.parallelEdges/sigma.canvas.edgehovers.curve.js' %}"></script>
    <script src="{% static 'tesisForm/plugins/sigma.renderers.parallelEdges/sigma.canvas.edgehovers.curvedArrow.js' %}"></script>
    <script src="{% static 'tesisForm/plugins/sigma.plugins.animate/sigma.plugins.animate.js' %}"></script>
    <script src="{% static 'tesisForm/plugins/sigma.layout.noverlap/sigma.layout.noverlap.js' %}"></script>




    <script>
        var dNOrigen = '{{dNOrigen|safe}}';
        var nOrigen = '{{nOrigen|safe}}';
        var nDestino = '{{nDestino|safe}}';
        var nodosProp = '{{nodosProp|safe}}';
        var i,
            g = {
                nodes: [],
                edges: []
            };

        var dNOrigenJs = JSON.parse(dNOrigen);
        var nOrigenJs = JSON.parse(nOrigen);
        var nDestinoJS = JSON.parse(nDestino);
        var nodosPropJS = JSON.parse(nodosProp);
        var relCount = Object.keys(nOrigenJs).length;
        //console.log(relCount)
 
        var numProp = Object.keys(nodosPropJS).length;

        for (var key in dNOrigenJs) {
            var sm = {
                id: key,
                label: '',
                size: Math.random(),
                color: '#fec20f'

            }

            for (var key2 in dNOrigenJs[key]) {
                var swe3 = String(dNOrigenJs[key][key2])
                sm[key2] = swe3
            }

            g.nodes.push(sm);

        }




        for (i = 0; i < relCount; i++)
            g.edges.push({
                id: 'e' + i,
                label: 'T',
                source: nOrigenJs[i],
                target: nDestinoJS[i],
                size: 2,
                color: '#' + (
                    Math.floor(Math.random() * 16777215).toString(16) + '000000'
                ).substr(0, 6),
                type: 'arrow',
                count: i
            });



        s = new sigma({
            graph: g,
            renderer: {
                container: document.getElementById('graph-container'),
                type: 'webGL'
            },
            settings: {
                defaultLabelColor: '#eeedd9',
                defaultLabelSize: 16,
                defaultEdgeLabelColor: '#c2b4b4',
                minNodeSize: 8,
                minEdgeSize: 0.7,
                maxEdgeSize: 3.5,
                maxNodeSize: 16

            }
        });


        var dragListener = sigma.plugins.dragNodes(s, s.renderers[0]);

        dragListener.bind('startdrag', function (event) {
        });
        dragListener.bind('drag', function (event) {
        });
        dragListener.bind('drop', function (event) {
        });
        dragListener.bind('dragend', function (event) {

        });

        function crearListasTip() {
            var nodosProp = '{{nodosProp|safe}}';
            var nodosPropJS = JSON.parse(nodosProp);
            for (var e in nodosPropJS) {
                $('#propiedades').append('<div class="col-lg-12">  <h5 class="text-uppercase col textPeke tipoNodo">' + e + '</h5>');
                var sel = $('<div class="col-lg-12 nodos"> <select class="form-control propNodes nodos" id="' + e + '">').appendTo('#propiedades');
                for (var e1 in nodosPropJS[e]) {
                    $('#' + e).append($("<option>").text(nodosPropJS[e][e1]));
                }
            }

        }

        crearListasTip();

        function apliForceP() {
            var tiposNodos = []
            var propSelect = []


            $('.tipoNodo').each(function () {
                tiposNodos.push($(this).text());
                //console.log(tiposNodos)

            })

            $(".propNodes option:selected").each(function () {

                propSelect.push($(this).text());

            });

            for (var h = 0; h < propSelect.length; h++) {
                var auxProp = propSelect[h];
                var auxLabel = tiposNodos[h];
                s.graph.nodes().forEach(function (n) {
                    if (n.tipoNodo == auxLabel) {
                        n.label = n[auxProp];


                    }
                });

            }


            s.refresh();
        }

        function apliForce() {

            s.startForceAtlas2({ worker: true, barnesHutOptimize: true, ScalingRatio:7, outboundAttractionDistribution:true});


            s.refresh();
        }

        function apliForceStop() {

            s.stopForceAtlas2();

            s.refresh();
        }

        function noverlaaap() {
            var noverlapListener = s.configNoverlap({
                nodeMargin: 15,
                scaleNodes: 0.5,
                gridSize: 75,
                easing: 'quadraticInOut', 
                duration: 1000   
            });
            // Bind the events:
            noverlapListener.bind('start stop interpolate', function (e) {
                //console.log(e.type);
                if (e.type === 'start') {
                   // console.time('noverlap');
                }
                if (e.type === 'interpolate') {
                    //console.timeEnd('noverlap');
                }
            });
            // Start the layout:
            s.startNoverlap();

            s.refresh();
        }

        Array.prototype.unique = function (a) {
            return function () { return this.filter(a) }
        }(function (a, b, c) {
            return c.indexOf(a, b + 1) < 0
        });


        function dibujarPropiedad(prop) {
            var dNOrigen = '{{dNOrigen|safe}}';
            var dNOrigenJs = JSON.parse(dNOrigen);
            var nodesProp = [];

            var arrayt = {
                values1: [],
                colors: [],
                sizes: []

            };
            var nodesProp = [];
            for (var key in dNOrigenJs) {
                var sm = {}
                //console.log(sm['size'])

                for (var key2 in dNOrigenJs[key]) {

                    var swe3 = String(dNOrigenJs[key][key2])
                    sm[key2] = swe3

                }
                var valueProp = sm[prop]

                nodesProp.push(valueProp)

            }
            nodesProp = nodesProp.unique();
            nodesProp.sort();
            //console.log(nodesProp)
            for (var j = 0; j < nodesProp.length; j++) {
                var colorAux = '#' + (Math.floor(Math.random() * 16777215).toString(16) + '000000').substr(0, 6);
                arrayt.values1.push(nodesProp[j]);
                arrayt.colors.push(colorAux);
                arrayt.sizes.push(0.6 + j);
            }
            for (var h = 0; h < arrayt.values1.length; h++) {
                var valueAux = arrayt.values1[h];
                var colorAux = arrayt.colors[h];
                var sizesAux = arrayt.sizes[h];

                s.graph.nodes().forEach(function (n) {

                    if (valueAux == n[prop]) {
                        n.color = colorAux;
                        n.size = sizesAux;
                    }
                });

            }
            s.refresh();
        }


        function forceAtlasSw() {
            var checkBox = document.getElementById("myCheck");
 
            var text = document.getElementById("text");

            if (checkBox.checked == true) {
                apliForce();
            } else {
                apliForceStop();
            }
        };

        $('input[id="dgr"]').on("click", function (e) {

            dibujarPropiedad('degree');
        })
        $('input[id="btns"]').on("click", function (e) {

            dibujarPropiedad('betweeness');
        })
        $('input[id="pgrk"]').on("click", function (e) {

            dibujarPropiedad('pagerank');
        })


    </script>



</body>

</html>