.notif{
    color:cornflowerblue;
    font-size: 20px;
    font-family: Verdana;
    
}


.notif2{
    color:cadetblue;
    font-size: 20px;
    font-family: Verdana;
}



    select {
      text-align-last:center;

       }

         option {
      text-align-last:center;

       }
    select.nodos {
  font-family:Verdana, sans-serif;
  font-size: 13px;
  background-color:#488b8f;
}



 option {
  font-family:Verdana, sans-serif;
  font-size: 13px;
  background: rgb(231, 224, 231);

}

select.dir {
  font-family: Verdana, sans-serif;
  font-size: 17px;
  background-color:#add2c9;
  }

select.traversals {
  font-family:Verdana, sans-serif;
  font-size: 13px;
  background-color:#74b49b;


}



